   
figure #lightface {
	clear:both;
	float: right;
	text-align: center;
	width: 28%;
	padding: 2%;
	max-width: 180px;
}

figcaption {
       font-style: italic;
}
#sobre{
	margin: 0 auto;
	padding-top: 2em;
    width: 80%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
}

#title{
	border-bottom: 2px solid;
	font-size: x-large;
}
