.menu-setores ul {
     font-size: 100%;
}
.menu-setores a {
      color: #003366;
}
.menu-setores {
	border-bottom: 2px solid;
     bottom: 0;
     right: 0;
}
#logo img{
	width: 25%;
	padding-left: 1em;
}
.menu-setores ul li {
     display: inline;
     margin-left: 4%;
}

header{
	margin: 4em;
/* 	background: -moz-linear-gradient(center top, #3a3737 0%, #01103d 100%) repeat scroll 0 0 transparent; */
}
.container {
     margin: 0 auto;
     width: 80%;
/*      min-height: 100%; */
}
footer{
/* 	border-radius: 10px; */
	position: relative;
	height: 60px;
	clear: both;
	color: white;
	text-align: center;
	background: -moz-linear-gradient(center top, #3a3737 0%, #01103d 100%) repeat scroll 0 0 transparent;
}
html, body {height: 90%;}

p:first-letter {
     font-weight: bold;
}

.menu-setores a:hover {
	color: #007dc6;
}
.menu-setores a:active {
	color: #867dc6;
}

.menu-setores ul li ul {
  display: none;
}
.menu-setores ul li:hover ul {
  display: block;
  vertical-align: top;
}

.banner {
	text-align: center;
	width: 100%;
}
.banner img {
	width: 30%;
	max-width: 180px;
/* 	-moz-transform: translateX(-50px); */
/* 	-moz-transform: rotate(-10deg); */
/* 	-moz-transform: skewX(10deg);Efeito Meio 3D Interessante */
}